.skillsContainer {
  background-image: linear-gradient(
      to right,
      rgba(75, 59, 172, 0.55),
      transparent
    ),
    url(../../assets/landing.png);
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  /* clip-path: polygon(0 0, 100% 0, 100% 65%, 0 90%); */
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);

  position: relative;
}

.skills:visited,
.skills:hover,
.skills:active,
.skills:link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}
.skillsHeading {
  font-size: 3rem;
  font-weight: 500;
  display: inline-block;

  position: absolute;
  top: 4rem;
  right: 3rem;
}

.cardContainer {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.cardsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  min-height: 30rem;
  width: 22rem;
  max-width: 70%;
  padding: 3rem;
  margin: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0 0 25px 15px rgba(74, 22, 173, 0.5);
  transition: all 0.2s;
}

.card:hover {
  transform: translateY(-8px);
}

.cardImg {
  border-radius: 50rem;
  height: 5rem;
}

.card1 {
  background-color: #f0db4f;
  color: black;
}

.card2 {
  background-color: #222222;
  color: #5bcae7;
}

.card3 {
  background-color: #333333;
  color: white;
}

.card4 {
  background-color: #222222;
  color: #5bcae7;
}

.card5 {
  background-color: #fff;
}
