body {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Montserrat", "Nunito", "Sans-Serif";
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* therefore 1rem=10px  */
}

:root {
  --animate-duration: 3000ms;
  --animate-delay: 0.9s;
}
