body {
  font-size: 1.6rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", "Montserrat", "Nunito", "Sans-Serif";
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* therefore 1rem=10px  */
}

:root {
  --animate-duration: 3000ms;
  --animate-delay: 0.9s;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
  .cardsList {
    flex-direction: column;
  }
  .cardsList > .animated {
  }
  .content {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  .abt-content {
    flex-direction: column;
  }
  .cardContainer {
    position: absolute;
    top: 20% !important;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
  }
  .skillsContainer {
    clip-path: none;
    height: 220vh !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transform: translateY(-12%);
  }
  .banner {
    height: 25vh !important;
  }
  .text {
    margin-top: 2rem;
  }
  .skillsHeading {
    font-size: 3rem;
    font-weight: 500;
    display: inline-block;
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%) !important;
    position: absolute;
    top: 25rem !important;
    right: 3rem;
  }

  .avatarImg {
    margin-bottom: 5rem;
  }

  .skillsContainer > .fab {
    display: none;
  }
}
